/*
Color Palette
background color: #200439
primary: #512C73
secondary: #361356
tertiary: #6F4D8F
accent: #9277AC
vegasGold: #c5b358
white: #fff
black: #000  
*/

html {
    /* If we add any padding or border onto an element it does not affect the width of the element*/
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #200439;
    color: #fff;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.heroImage {
    padding: 2rem;
}

.heroImage img{
    border-radius: 6rem;
    box-shadow: 10px 10px #000;
    width: 100%;
    height: auto;
}

.heroText {
    font-size: 0.7rem;
    padding-bottom: 2rem;
    text-align: center;
    letter-spacing: 5px;
}

.heroName {
    color: #c5b358;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.heroTextTop{
    padding: 1rem;
}

.heroTextBottom{
    margin: 2rem;
}

.heroButton{
    margin: 2rem;
}

.button {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #9277AC;
    border-radius: 25px;
    font-size: 0.85rem;
    font-weight: 700;
    color: #200439;
    text-decoration: none;
    box-shadow: 8px 8px 4px #000;
 }
 
 .button:hover {
     background-color: #361356;
     color: #c5b358;
     transform: scale(1.5);
     /* (150% zoom 0 Note if the zoom is too large, it will go outside of the viewport) */
 }
 
 @media (min-width: 800px) {
     .hero {
         flex-direction: row;
         justify-content: space-evenly;
         align-items: center;
         height: 90vh;
     }
     
     .heroText {
         font-size: 1rem;
         
         }
     .heroName {
         font-size: 3.5rem;
     }
     
     .button {
         font-size: 1.1rem;
     }
 }